$primary-color: #444;
$secondary-color: #eece1a;
$show-home-image: true;
$home-image: url(../img/background.jpg);
$background-opacity: 0.9;

@mixin easeOut {
  transition: all 0.5s ease-out;
}

@mixin background {
  @if $show-home-image {
    //if show-home-image is true
    &#bg-img {
      background: $home-image;
      background-attachment: fixed;
      background-size: cover;

      &:after {
        //here,after is refer to extra element after bg-img. we also use class here like overflow which we used previous.
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        right: 0;
        background: rgba(
          $primary-color,
          $background-opacity
        ); /*without rgba, background color will be same as primary color
        using rgba , we simply add background opacity which helps to make color ligher*/
        z-index: -1;
        /*now after the background color lighter we see another problem i.e background image lie over the main text.
        now to overcome this we used z-index i.e which helps to push forward the things but here we need to push back not forward so we siply
        do this by making z-index negative*/
      }
    }
  }
}

// Set text color automatic based on background.
//eg if we change primary color i.e background color to some light color let say white then whole text will be change to some black and vice-versa.
@function set-text-color($color) {
  @if (lightness($color) > 40) {
    @return #000000;
  } @else {
    @return #fff;
  }
}

//Media Query Mixins
@mixin mediaXsm {
  @media screen and (max-width: 360px) {
    @content;
  }
}

@mixin mediaSm {
  @media screen and (max-width: 500px) {
    @content;
  }
}

@mixin mediaMd {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mediaLg {
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}

@mixin mediaXl {
  @media screen and (min-width: 1171px) {
    @content;
  }
}
