// Menu Button

.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 28px;
  cursor: pointer;
  @include easeOut;

  .btn-line {
    width: 27px;
    height: 3px;
    margin: 0 0 5px 0;
    background: set-text-color(
      $primary-color
    ); //its a function defined in a config.scss
    @include easeOut;
  }

  // Rotate Into X with menu Lines
  &.close {
    transform: rotate(180deg);

    .btn-line {
      // Line 1 - Rotate
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }

      // Line 2 - Rotate
      &:nth-child(2) {
        opacity: 0;
      }

      // Line 3 - Rotate
      &:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -6px);
      }
    }
  }
}

// Menu overlay
.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.975;
  visibility: hidden;

  &.show {
    visibility: visible;
  }

  &-branding,
  &-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden;
  }

  &-nav {
    margin: 0;
    padding: 0;
    background: darken($color: $primary-color, $amount: 5);
    list-style: none;
    transform: translate3d(0, -100%, 0);
    @include easeOut;

    &.show {
      //slide in from top
      transform: translate3d(0, 0, 0);
    }
  }

  // branding side
  &-branding {
    background: $primary-color;
    transform: translate3d(0, 100%, 0);
    @include easeOut;

    &.show {
      // slide in from the bottom
      transform: translate3d(0, 0, 0);
    }

    .portrait {
      width: 230px;
      height: 242px;
      background: url("../img/Portraitkaint.jpg");
      border-radius: 50%;
      border: solid 0.5px $secondary-color;
    }
  }

  .nav-item {
    transform: translate3d(600px, 0, 0);
    @include easeOut;

    &.show {
      // slide in from right
      transform: translate3d(0, 0, 0);
    }

    &.current > a {
      color: $secondary-color;
    }
  }

  .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 400;
    color: set-text-color($primary-color);
    text-decoration: none;
    @include easeOut;

    &:hover {
      color: $secondary-color;
    }
  }
}

// delay each nav item side by 0.1s
//for(let x=0;i <= 4; i++)
@for $x from 1 through 4 {
  .nav-item:nth-child(#{$x}) {
    transition-delay: $x * 0.1s;
  }
}
