// WideScreen
@include mediaXl {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
}

// Desktop & Laptops
@include mediaLg {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}

// Tablets & Small laptops
@include mediaMd {
  main {
    align-items: center;
    text-align: center;

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }

  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);

    .portrait {
      background: url("../img/Portraitsmall.jpg");
      width: 135px;
      height: 142px;
      border: 0.3px $secondary-color solid;
    }
  }

  main#about {
    padding: 0 16px;
  }

  .about-info {
    grid-template-areas:
      "bioimage"
      "bio"
      "job3"
      "hackerrank";

    grid-template-columns: 1fr;

    .hackerrank-image {
      display: none;
    }
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

// Smartphones
@include mediaSm {
  .hackerrank-image {
    display: none;
  }
  #home h1 {
    margin-top: 10vh;
  }
  .projects {
    grid-template-columns: 1fr;
  }

  main#work {
    h1 {
      margin-top: 3vh;
      font-size: 4.2rem;
    }
    padding: 0 1rem;
    margin: auto;

    .btn {
      &:hover {
        // background: $secondary-color;
        color: set-text-color($secondary-color);
      }
    }
    .btn-dark {
      &:hover {
        background: darken($color: $primary-color, $amount: 22);
        color: #fff;
      }
    }

    .btn-light {
      &:hover {
        background: lighten($color: $primary-color, $amount: 53);
        color: set-text-color($secondary-color);
      }
    }
  }

  main#about {
    padding: 0 1.1rem;
    margin: auto;
    .bio p {
      margin: 0 auto;
      text-align: center;
      margin-top: 0;
      margin-bottom: 0;
      line-height: 1.85em;
      font-size: 1.281rem;
    }

    .button {
      &:hover {
        background: lighten($color: $primary-color, $amount: 50);
        color: set-text-color($secondary-color);
      }
    }

    h1 {
      margin-top: 3vh;
      font-size: 4.2rem;
    }

    .bio-image {
      grid-area: bioimage;
      margin: auto;
      border-radius: 50%;
      border: $secondary-color 0.3px solid;
      width: 190px;
      height: 200px;
    }
    .job {
      margin: 0;
      padding: 1rem;
    }
    .job-3 {
      border-radius: 2%;
      h3 {
        padding-bottom: 0.5rem;
      }
      p {
        text-align: justify;
      }
      height: 95%;
      line-height: 1.55em;
      margin-left: 0;
      font-size: 17px;
      padding-bottom: 0.6rem;
    }
  }

  main#contact {
    h1 {
      font-size: 3.76rem;
      padding-top: 4.8vh;
    }
    margin: auto;
    padding: 0 1.6rem;
    .boxes {
      margin-top: 4rem;
      div {
        font-size: 1.1rem;
        padding: 0.8rem 1.6rem;

        &:hover {
          background: darken($color: $primary-color, $amount: 5);
          color: set-text-color($secondary-color);
          span {
            color: $secondary-color;
          }
        }
      }
    }
  }

  @include mediaXsm {
    #home h1 {
      margin-top: 20vh;
      font-size: 4.5rem;
    }
    .projects {
      grid-template-columns: 1fr;
    }
    .hackerrank-image {
      display: none;
    }
  }
}
