// WideScreen
@include mediaXl {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
}

// Desktop & Laptops
@include mediaLg {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}

// Tablets & Small laptops
@include mediaMd {
  main {
    align-items: center;
    text-align: center;

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    height: 68vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }

  .menu-branding {
    height: 32vh;
    transform: translate3d(100%, 0, 0);

    .portrait {
      background: url("../img/Portraitsmall.jpg");
      width: 150px;
      height: 152px;
    }
  }

  .about-info {
    grid-template-areas:
      "bioimage"
      "bio"
      "job3"
      "hackerrank";

    grid-template-columns: 1fr;
  }
  .hackerrank-image {
    float: right;
    padding-left: 6.5rem;
    padding-top: 0;
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

// Smartphones
@include mediaSm {
  main#home h1 {
    margin-top: 10vh;
  }
  .projects {
    grid-template-columns: 1fr;
  }
}
